<html>
<head>
    <title>inspyr</title>
</head>
<body>
    <center>
        <form method="POST" action="/map">
            Keyword: <input type="text" name="keyword" />
            <input type="submit" value="start brainstorming" name="form"/>
        </form>
    </center>
</body>

</html>