<html>
<head>
    <title>inspyr</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <center>
        <form method="POST" action="/map">
            Keyword: <input type="text" name="keyword" />
            <input type="submit" value="start brainstorming" name="form"/>
        </form>
    </center>
    <%=footer%>
</body>

</html>