<html>

<head>
    <title>inspyr</title>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <center>
        <form method="POST" action="/map">
            From node:  <%=@from_node_menu%>
            Add:        <input type="text" size="40" name="to_node"   placeholder="leave blank for automated suggestion..." />
            <input type="submit" value="add node"/>
        </form>
    </center>
    <div id="container"></div>
    <script>
        anychart.onDocumentReady(function () {
            anychart.data.loadJsonFile("graph.json",
                function (data) {
                    var chart = anychart.graph(data);
                    var nodes = chart.nodes();
                    chart.nodes().labels().enabled(true);
                    chart.nodes().labels().format("{%id}");
                    chart.nodes().labels().fontSize(12);
                    chart.nodes().labels().fontWeight(600);

                    nodes.normal().height(30);
                    nodes.hovered().height(40);
                    nodes.selected().height(40);

                    nodes.normal().fill("#44dbcc");
                    nodes.hovered().fill("#6dedc7");
                    nodes.selected().fill("#6dedc7");

                    nodes.stroke(null);
                    chart.container("container").draw();
                });
        });
    </script>
    <%=footer%>
</body>

</html>